<!DOCTYPE html>
<html ng-app="financeApp">
<head>
    <title>Finance</title>
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/main_ctrl.js"></script>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    
</head>
<body >
<div ng-controller="mainCtrl">
    <div ng-show="fbInfo.loggedIn">{{fbInfo.fbName}}</div>
</div>
<div id="fb-root"></div>
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
</body>
</html>